<% include partials/header %>
<h1><%= campground.name %></h1>

<img src="<%= campground.image %>">

<p><%= campground.description %></p>

<% campground.comments.forEach(function(comment){ %>
  <p>
    <span><%= comment.author %></span> - <%= comment.text %>
  </p>
<% }); %>
<% include partials/footer %>
